@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f0;
}

/* Custom scrollbar for academic feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e6dec8;
}
::-webkit-scrollbar-thumb {
  background: #5e503f;
  border-radius: 4px;
}